@mixin task-status-column-box($width) {
    height: 98%;
    background-color: #d2e9e9;
    border-radius: 15px;
    width: $width;
}

.task-status-column-box__tight {
    @include task-status-column-box(30%);
}

.task-status-column-box__wide {
    @include task-status-column-box(40%);
}
