@import '../../../globalStyles/colors';

.workspace {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 98%;
    width: 98%;
    background-color: $light-blue;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &__columns-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
        width: 97%;
        height: 94%;
    }
}
