@import '../../../../shared/globalStyles/colors';

.tasks-adding-button-form {
    display: flex;
    align-items: center;
    width: 90%;
    height: 4%;
    background-color: $light-blue;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
    padding-left: 15px;

    &:hover {
        transition: 0.3s;
        background-color: $light-gray-blue;
        cursor: pointer;
    }

    &:not(:hover) {
        transition: 0.3s;
    }
}
